{{!-- <li class="{{cssClasses}}"><a href="{{relativeURL url}}" class="tsd-kind-icon"> --}}
    {{!-- {{#if name}}{{{wbr name}}}{{else}}<em>{{{wbr kindString}}}</em>{{/if}} --}}
{{!-- </a></li> --}}

<div class="{{cssClasses}}"><a href="{{relativeURL url}}" class="tsd-kind-icon">
	{{#if name}}{{{wbr name}}}{{else}}<em>{{{wbr kindString}}}</em>{{/if}}
</a></div>
